---
import BaseLayout from '../layouts/Layout.astro';
//import CodeList from '../components/CodeList.astro';
//import { getCodes } from '../data/codes';

//const codes = getCodes(); // Obtener la lista de códigos
---

<BaseLayout>
    <h1>Mi Biblioteca de Códigos</h1>

</BaseLayout>
