---
import Layout from '../layouts/Layout.astro';
const posts = Object.values(import.meta.glob('./posts/blog/*.mdx', { eager: true }));
---

<Layout>
  <h1 class="text-3xl font-bold mb-6">Últimos Posts</h1>

  <div class="space-y-4">
    {posts.length > 0 ? (
      posts.map((post) => (
        <a href={post.url} class="block p-4 bg-zinc-950 shadow-md rounded hover:bg-lime-800">
          <h2 class="text-xl font-semibold">{post.frontmatter.title}</h2>
          <p class="text-gray-400 font-light">{post.frontmatter.description}</p>
        </a>
      ))
    ) : (
      <p class="text-gray-500">No hay posts disponibles.</p>
    )}
  </div>
</Layout>


