---
import DefaultLayout from "../layouts/DefaultLayout.astro";

const algorithms = [
  { title: "Segment Tree", url: "/segtree" },
  { title: "Fenwick Tree", url: "/fenwick" },
  { title: "Dijkstra", url: "/dijkstra" }
];
---

<DefaultLayout title="Slime's CP Library ">
  <h1>📚 Library</h1>
  <p>Recopilación de estructuras de datos y algoritmos para competiciones.</p>

  <ul>
    {algorithms.map((algo) => (
      <li><a href={algo.url}>{algo.title}</a></li>
    ))}
  </ul>
</DefaultLayout>

