---
const posts = await import.meta.glob('../codes/*.md', { eager: true });

// Encuentra el post correcto (por ahora solo tenemos uno)
const greatPost = posts['../codes/segtree.md'];

const res = await fetch(greatPost.frontmatter.code);
const code = await res.text();
---

<h1>{greatPost.frontmatter.title}</h1>
<p>Autor: {greatPost.frontmatter.author}</p>

<pre><code class="language-cpp">{code}</code></pre>

