---
import katex from "katex";
import type { KaTeXOptions } from "katex";

export interface Props {
  formula: string;
  className?: string;
};

const { formula, className = "" } = Astro.props;
const html = katex.renderToString(formula, { throwOnError: false, displayMode: true });
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" crossorigin="anonymous" />

<div class={`katex-block ${className}`} innerHTML={html}></div>

