---
const { title } = Astro.props;
---

<div class="prose prose-sm prose-blue dark:prose-invert mx-auto max-w-3xl p-6 bg-zinc-950 text-slate-300 font-mono rounded-lg shadow-lg">
    <h1 class="text-2xl font-mono mb-4 text-slate-200 hover:underline ">{title}</h1>
    <slot />
</div>
<div style="margin-top: 20px;">
  <a href="/library"> ⬅ Volver atrás </a>
</div>
