---
---

<nav class="bg-zinc-950 shadow-md p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <h1 class="text-xl font-bold">Slime's Blog</h1>

    <!-- Enlaces -->
    <ul class="flex space-x-6">
      <li><a href="/" class="text-slate-300 hover:text-blue-500 hover:uppercase">Blog</a></li>
      <li><a href="/portfolio" class="text-slate-300 hover:text-blue-500 hover:uppercase">Portfolio</a></li>
      <li><a href="/library" class="text-slate-300 hover:text-blue-500 hover:uppercase">Library CP</a></li>
    </ul>

    <!-- Botón Modo Oscuro -->
    <button class="px-4 py-2 bg-zinc-950 text-slate-300 rounded">
       ☀️
    </button>
  </div>
</nav>

