---
// import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>Mi Blog</title>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <Navbar />
    <main class="container mx-auto p-6">
      <slot />
    </main>
  </body>
</html>

