---
import Navbar from '../components/Navbar.astro';
const { groupedPosts } = Astro.props;
const hasSidebar = !!Astro.slots.sidebar;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>Mi Blog</title>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <Navbar />
    
    <div class="flex">
      {hasSidebar && <aside class="w-64 h-screen sticky top-0 p-4 bg-gray-100 shadow-md overflow-y-auto">
        <slot name="sidebar" groupedPosts={groupedPosts} />
      </aside>}
      
      <main class="flex-1 container mx-auto p-6">
        <slot />
      </main>
    </div>
  </body>
</html>

