---
import Navbar from '../components/Navbar.astro';
const { groupedPosts } = Astro.props;
const hasSidebar = !!Astro.slots.sidebar;
---

<html lang="es">


  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:wght@100..700&display=swap" rel="stylesheet">
    <!-- tailwindcss -->
    <link rel="stylesheet" href="/styles/global.css" />

    <title>JorgeSlime-Blog</title>
  </head>
  <body class="bg-zinc-900 text-slate-300">
    <Navbar />
    
    <div class="flex">
      {hasSidebar && <aside class="w-64 h-screen sticky top-0 p-4 bg-gray-100 shadow-md overflow-y-auto">
        <slot name="sidebar" groupedPosts={groupedPosts} />
      </aside>}
      
      <main class="flex-1 container mx-auto p-6">
        <slot />
      </main>
    </div>
  </body>
</html>

